@import "./styles/home.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  --bg-home: url("./assets/mountains-universe-1.png");
  --bg-universe: url("./assets/mountains-universe02.png");
  --bg-explore: url("./assets/mountains-universe-3.png");
  

  --main-font: 'Roboto', sans-serif;
  --link-color: #C4C4CC;
  --text-color: #E1E1E6;
  --selected-color: #FFFFFF;
  --hover-text-color: #02799D;
  --bg-black: #000000;
}

body {
  background-image: var(--bg-home);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto; 
  background-color: var(--bg-black);
}


nav {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  margin: 4rem 0 4rem 7.2rem;
  padding: 5rem 0;
}

nav a {
  text-decoration: none;
  color: var(--link-color);
  font-size: 2rem;
  font-family: var(--main-font);
}

nav a:focus {
  color: var(--selected-color);
  font-weight: 700;
}

.title {
  color: var(--text-color);
  font-size: 4.8rem;
  font-family: var(--main-font);
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.text {
  color: var(--text-color);
  font-size: 1.8rem;
  font-family: var(--main-font);
  line-height: 160%;
  width: 64.8rem;
}

.container {
  margin: 6.3rem 0 0 10rem;
}