body {
  background-image: url(../assets/mountains-universe-3.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto; 
  background-color: var(--bg-black);
}